<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            <button pButton pRipple [label]="'Delete'" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedWords()" [disabled]="!selectedWord || !selectedWord.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="wordsFiltered" [rows]="10" [paginator]="true" [globalFilterFields]="['german','translation','category','rating']" responsiveLayout="scroll"
        [(selection)]="selectedWord" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <div class="d-flex justify-content-center">
                    <div class="col-6">
                        <form [formGroup]="formFilter" class="form-group">
                            <div class="row">
                                <div class="col">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" formControlName="category" placeholder="Category" />
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="number" min="0" [max]="getMaxForFilterRatingFrom()" formControlName="ratingFrom" placeholder="Rating from" />
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="number" [min]="getMinForFilterRatingTo()" max="5" formControlName="ratingTo" placeholder="Rating to" />
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="german">German <p-sortIcon field="german"></p-sortIcon></th>
                <th pSortableColumn="translation">Translation <p-sortIcon field="translation"></p-sortIcon></th>
                <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="rating">Rating <p-sortIcon field="rating"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-word>
            <tr>
                <td>
                    <p-tableCheckbox [value]="word"></p-tableCheckbox>
                </td>
                <td>{{word.german}}</td>
                <td>{{word.french}}</td>
                <td>{{word.category}}</td>
                <td><p-rating [ngModel]="word.rating" [readonly]="true" [cancel]="false"></p-rating></td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editWord(word)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteWord(word)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total, there are {{wordsFiltered ? wordsFiltered.length : 0 }} words.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="wordDialog" [style]="{width: '450px'}" header="Word Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="german">German</label>
            <input type="text" pInputText id="german" [(ngModel)]="word.german" required autofocus />
            <small class="p-error" *ngIf="submitted && !word.german">This field is required.</small>
        </div>
        <div class="p-field">
            <label for="translation">Translation</label>
            <input type="text" pInputText id="translation" [(ngModel)]="word.french" required />
            <small class="p-error" *ngIf="submitted && !word.french">This field is required.</small>
        </div>
        <div class="p-field">
            <label for="category">Category</label>
            <p-dropdown [(ngModel)]="word.category" inputId="category" [options]="categories" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span>{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveWord()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
