<p-accordion [multiple]="true">
    <p-accordionTab header="Options" [selected]="!start">
        <form [formGroup]="settingsForm" class="form-group" (ngSubmit)="onSettingsSubmit()">
            <table>
                <tr>
                    <td>
                        Categories
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        Number of words
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        Revision
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <p-multiSelect defaultLabel="Categories" display="chip" [options]="categories"
                            formControlName="categories" optionLabel="label" optionValue="value">
                        </p-multiSelect>
                    </td>
                    <td></td>
                    <td>
                        <select class="form-select" formControlName="numberOfWords">
                            <option *ngFor="let number of numbersOfWords" [value]="number">
                                {{ number }}
                            </option>
                        </select>
                    </td>
                    <td></td>
                    <td>
                        <p-checkbox formControlName="revision" [binary]="true"></p-checkbox>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="d-flex align-items-start">
                        <button pButton pRipple label="Start" icon="pi pi-play" type="submit"
                            [disabled]="settingsForm.invalid || start" class="p-button-success form-control"></button>
                    </td>
                    <td></td>
                    <td class="d-flex align-items-start">
                        <button pButton pRipple label="Stop" icon="pi pi-ban" (click)="onStop()" [disabled]="!start"
                            class="p-button-danger form-control"></button>
                    </td>
                </tr>
            </table>
        </form>
    </p-accordionTab>
    <p-accordionTab header="Revision" [selected]="start && revision" [disabled]="!start || !revision">
        Revision
    </p-accordionTab>
    <p-accordionTab header="Game" [selected]="start && !revision" [disabled]="!start || revision">
        Game
    </p-accordionTab>
</p-accordion>
<br>
<div *ngIf="start">
    <form [formGroup]="gameForm" class="form-group">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="german">German</label>
                    <input type="text" class="form-control" id="german" formControlName="german" readonly />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="translation">Traduction</label>
                    <select class="form-control" formControlName="translation" (change)="onGameSubmit()">
                        <option *ngFor="let translation of randomTranslations" [value]="translation">
                            {{ translation }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>


<br>
<app-score></app-score>
<br>
<div *ngIf="!!answer" class="d-flex justify-content-center" [ngClass]="{'green': isCorrect, 'red': !isCorrect}">
    {{ answer.german }} = {{ answer.translation }}
</div>