<p-toast></p-toast>

<p-accordion [multiple]="true">
    <p-accordionTab header="Options" [selected]="!start">
        <div class="d-flex justify-content-center">
            <p-card>
                <form [formGroup]="settingsForm" class="form-group" (ngSubmit)="onSettingsSubmit()">
                    <div class="row d-flex justify-content-center">
                        <div class="col">
                            Categories
                            <br><br>
                            <p-listbox [options]="categories" [multiple]="true" optionLabel="label" optionValue="value"
                                formControlName="categories"></p-listbox>
                        </div>
                        <div class="col">
                            Words
                            <br><br>
                            <p-listbox [options]="numbersOfWords" formControlName="numberOfWords">
                            </p-listbox>
                        </div>
                        <div class="col">
                            Options
                            <br><br>
                            <p-listbox [options]="numbersOfOptions" formControlName="numberOfOptions">
                            </p-listbox>
                        </div>
                        <div class="col">
                            Rounds
                            <br><br>
                            <p-listbox [options]="numbersOfRounds" formControlName="numberOfRounds">
                            </p-listbox>
                        </div>
                        <div class="col">
                            Version
                            <br><br>
                            <span class=" d-flex justify-content-center">
                                <p-checkbox formControlName="version" [binary]="true"></p-checkbox>
                            </span>
                        </div>
                        <div class="col">
                            Revision
                            <br><br>
                            <span class=" d-flex justify-content-center">
                                <p-checkbox formControlName="revision" [binary]="true"></p-checkbox>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="d-flex justify-content-center">
                        <button pButton pRipple label="Start" icon="pi pi-play" type="submit"
                            [disabled]="settingsForm.invalid || start" class="p-button-success form-control"></button>
                        <br>
                    </div>
                </form>
            </p-card>
        </div>
    </p-accordionTab>
    <p-accordionTab header="Revision" [selected]="start && revision" [disabled]="!start || !revision">
        <div class="d-flex justify-content-center">
            <p-card>
                <div>
                    <p *ngFor="let word of dictionaryCategoryLimited">
                        {{ word.german }} = {{ word.translation }}
                    </p>
                </div>
                <div class="row">
                    <div class="col">
                        <button pButton pRipple label="Ready" icon="pi pi-play" (click)="onReady()"
                            class="p-button-success form-control"></button>
                    </div>
                    <div class="col">
                        <button pButton pRipple label="Stop" icon="pi pi-ban" (click)="onStop()" [disabled]="!start"
                            class="p-button-danger form-control"></button>
                    </div>
                </div>
            </p-card>
        </div>
    </p-accordionTab>
    <p-accordionTab header="Game" [selected]="start && !revision" [disabled]="!start || revision">
        <div class="d-flex justify-content-center">
            <p-card *ngIf="numberOfRounds > total">
                <form (keyup.enter)="onGameSubmit()" (ngSubmit)="onGameSubmit()" [formGroup]="gameForm"
                    class="form-group">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="german">German</label>
                                <input type="text" class="form-control" id="german" formControlName="german" readonly />
                            </div>
                        </div>
                        <div *ngIf="dictionaryCategoryLimited.length > 0" class="col">
                            <div class="form-group">
                                <label for="translation">Translation</label>
                                <p-listbox
                                    [options]="dictionaryCategoryLimited | select_translation: numberOfOptions : randomWord | map: version ? 'translation' : 'german'"
                                    formControlName="translation">
                                </p-listbox>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <span *ngIf="!submited; else continue">
                                <button pButton pRipple label="Check" icon="pi pi-check" type="submit"
                                    [disabled]="!isCheckValid()" class="p-button-success form-control"></button>
                            </span>
                            <ng-template #continue>
                                <button pButton pRipple label="Continue" icon="pi pi-play" (click)="onContinue()"
                                    class="p-button-primary form-control"></button>
                            </ng-template>
                        </div>
                        <div class="col">
                            <button pButton pRipple label="Stop" icon="pi pi-ban" (click)="onStop()" [disabled]="!start"
                                class="p-button-danger form-control"></button>
                        </div>
                    </div>
                </form>
            </p-card>
            <p-card *ngIf="numberOfRounds === total">
                <div *ngIf="numberOfRounds === total">
                    <p *ngFor="let result of summary">
                        {{ result.word.german }} = {{ result.word.translation }} : {{ result.success ? 'Success' :
                        'Mistake'}}
                    </p>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <button pButton pRipple label="Restart" icon="pi pi-replay" (click)="onRestart()"
                            class="p-button-success form-control"></button>
                    </div>
                    <div class="col">
                        <button pButton pRipple label="Stop" icon="pi pi-ban" (click)="onStop()" [disabled]="!start"
                            class="p-button-danger form-control"></button>
                    </div>
                </div>
            </p-card>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <p-card>
                <p class="score d-flex justify-content-center">
                    {{ points }} / {{ total }}
                </p>
                <div *ngIf="!!randomWord && submited && (numberOfRounds > total)" class="d-flex justify-content-center"
                    [ngClass]="{'green': isCorrect, 'red': !isCorrect}">
                    <br>
                    <div *ngIf="version; else theme">
                        <p>
                            {{ randomWord.german }} = {{ randomWord.translation }}
                        </p>
                    </div>
                    <ng-template #theme>
                        <p>
                            {{ randomWord.translation }} = {{ randomWord.german }}
                        </p>
                    </ng-template>
                </div>
            </p-card>
        </div>
    </p-accordionTab>
</p-accordion>
<br>