<br>
<div class="row fixed-size">
    <div class="col" *ngFor="let category of categories">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" (change)="selectCategory(category)">
            <label class="form-check-label">
                {{ category }}
            </label>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div *ngIf="!!category">
    <form [formGroup]="gameForm">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="german">German</label>
                    <input type="text" class="form-control" id="german" formControlName="german" readonly />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="translation">Traduction</label>
                    <select class="form-control" formControlName="translation" (change)="onSubmit()">
                        <option *ngFor="let translation of randomTranslations" [value]="translation">
                            {{ translation }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<br>
<app-score></app-score>
<br>
<div *ngIf="!!answer" class="d-flex justify-content-center" [ngClass]="{'green': isCorrect, 'red': !isCorrect}">
    {{ answer.german }} = {{ answer.translation }}
</div>