<p-toast></p-toast>

<div class="card">
    <p-toolbar>
        <h5 style="color: #495057;">Settings</h5>
    </p-toolbar>
    <br>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <p-card>
                <div style="width: 200px;"></div>
                <form [formGroup]="connectionForm" class="form-group">
                    <div class="row">
                        <div class="form-group">
                            <label for="firebase">Connection :</label>
                            <p-listbox [options]="firebaseOptions" [optionLabel]="'label'" [optionValue]="'value'"
                                formControlName="firebase">
                            </p-listbox>
                        </div>
                    </div>
                </form>
            </p-card>
        </div>
        <div class="col d-flex justify-content-center">
            <p-card>
                <div style="width: 300px;"></div>
                <form [formGroup]="languageForm" class="form-group">
                    <div class="row">
                        <div class="form-group">
                            <label for="firebase">Language :</label>
                            <p-listbox [options]="languageOptions" [optionLabel]="'label'" [optionValue]="'value'" [optionDisabled]="'disabled'"
                                formControlName="language">
                            </p-listbox>
                        </div>
                    </div>
                </form>
            </p-card>
        </div>
    </div>
    <br>
    <br>
</div>

<br>