<form [formGroup]="wordForm" class="form-group">
    <div class="row">
        <div class="col-1">
            {{ index }}
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" formControlName="expression" />
                </div>
                <div class="col">
                    <input type="text" class="form-control" formControlName="translation" />
                </div>
                <div class="col">
                    <button class="btn btn-primary" (click)="update()">Modifier</button>
                </div>
                <div class="col">
                    <button class="btn btn-danger" (click)="delete()">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
</form>