<p-accordion (onOpen)="onTabEvent($event.index, 'open')" (onClose)="onTabEvent($event.index, 'close')">
    <p-accordionTab header="Languages" [selected]="getAccordionTabSelected() === 0">
        <div class="d-flex justify-content-center">
            <div class="col-3 card">
                <app-languages-selection *ngIf="tableLoaded; else loading" [languages]="languages"
                    (rowSelect)="onRowSelect($event)" (languageUp)="onLanguageUp($event)">
                </app-languages-selection>
                <ng-template #loading>
                    <app-languages-selection [languages]="languages">
                    </app-languages-selection>
                </ng-template>
            </div>
        </div>
    </p-accordionTab>
    <p-accordionTab header="Categories" [selected]="getAccordionTabSelected() === 1">
        <div class="d-flex justify-content-center">
            <div class="col-7">
                <app-categories-selection [categories]="categories" (categoriesEmitter)="getCategories($event)">
                </app-categories-selection>
            </div>
        </div>
    </p-accordionTab>
    <p-accordionTab header="List" [selected]="getAccordionTabSelected() === 2">
        <div class="d-flex justify-content-center">
            <div class="col-9 row">
                <app-list *ngIf="listLoaded" [languages]="languages" [categoriesArray]="categoriesArray"
                    [swadeshList]="swadeshList">
                </app-list>
            </div>
        </div>
    </p-accordionTab>
</p-accordion>