<br>
<div class="row">
    <div class="col" *ngFor="let category of categories">
        <strong>{{ category }}</strong>
        <br>
        <table>
            <tr *ngFor="let word of dictionary | filter:category; let i = index">
                <td>
                    &nbsp;{{ i + 1 }}
                </td>
                <td>
                    &nbsp;{{ word.expression }}
                </td>
                <td>
                    &nbsp;{{ word.translation }}
                </td>
                <td>
                    &nbsp;<button class="btn btn-danger" (click)="delete(word.id)">Supprimer</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<br>
