<br>
<div class="row">
    <div class="col" *ngFor="let category of categories">
        <strong>{{ category }}</strong>
        <br>
        <table>
            <tr *ngFor="let item of dictionary | filter:category; let i = index">
                <td>
                    &nbsp;{{ i + 1 }}
                </td>
                <td>
                    &nbsp;{{ item.expression }}
                </td>
                <td>
                    &nbsp;{{ item.translation }}
                </td>
            </tr>
        </table>
    </div>
</div>
<br>
<button class="btn btn-danger" (click)="deleteWord()">delete</button>