<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus"
                class="p-button-primary p-button-outlined form-control" (click)="openNew()"></button>
            &nbsp;&nbsp;&nbsp;
            <button pButton pRipple [label]="'Delete'" icon="pi pi-trash"
                class="p-button-danger p-button-outlined form-control" (click)="deleteSelectedWords()"
                [disabled]="!selectedWords || !selectedWords.length"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple label="Download" icon="pi pi-file-excel"
                class="p-button-success p-button-outlined form-control" (click)="exportAsXLSX()"></button>
        </ng-template>
    </p-toolbar>

    <p-table [value]="wordsFiltered" [rows]="10" [paginator]="true"
        [globalFilterFields]="['german','translation','category','rating']" responsiveLayout="scroll"
        [(selection)]="selectedWords" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5,10,15,20,50,100]" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <form [formGroup]="formFilter" class="form-group">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" formControlName="german" placeholder="German" />
                        </span>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" formControlName="translation" placeholder="Translation" />
                        </span>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <span>
                            <p-multiSelect defaultLabel="Categories" display="chip" [options]="categories"
                                formControlName="categories" optionLabel="label" optionValue="value"></p-multiSelect>
                        </span>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <span>
                            <p-multiSelect defaultLabel="Ratings" display="chip" [options]="ratings"
                                formControlName="ratings" optionLabel="label" optionValue="value"></p-multiSelect>
                        </span>
                    </div>
                    <div class="col-3"></div>
                </div>
            </form>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="german">German <p-sortIcon field="german"></p-sortIcon>
                </th>
                <th pSortableColumn="translation">Translation <p-sortIcon field="translation"></p-sortIcon>
                </th>
                <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon>
                </th>
                <th pSortableColumn="rating">Rating <p-sortIcon field="rating"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-word>
            <tr>
                <td>
                    <p-tableCheckbox [value]="word"></p-tableCheckbox>
                </td>
                <td>{{word.german}}</td>
                <td>{{word.french}}</td>
                <td>{{word.category}}</td>
                <td>
                    <p-rating [ngModel]="word.rating" [readonly]="true" [cancel]="false"></p-rating>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil"
                        class="p-button-rounded p-button-primary p-button-outlined form-control"
                        (click)="updateWord(word)"></button>
                    &nbsp;
                    <button pButton pRipple icon="pi pi-trash"
                        class="p-button-rounded p-button-danger p-button-outlined form-control"
                        (click)="deleteWord(word)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total, there are {{wordsFiltered ? wordsFiltered.length : 0 }} words.
            </div>
        </ng-template>
    </p-table>
</div>

<app-add-word></app-add-word>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<br>