<div class="row">
    <div class="col d-flex justify-content-center">
        <button class="btn btn-outline-light" routerLink="/dictionary">Dictionaire</button>        
    </div>
    <div class="col d-flex justify-content-center">
        <button class="btn btn-outline-light" routerLink="/crud">Crud</button>        
    </div>
    <div class="col d-flex justify-content-center">
        <button class="btn btn-outline-light" routerLink="/game">Jeu</button>
    </div>
</div>
<br>
<p-dock [model]="dockItems" position="bottom">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.icon" [alt]="item.label" width="100%">
    </ng-template>
</p-dock>